.typewriter {
    position: relative;
}

.intro {
    position: relative;
    text-align: justify;
    text-justify: inter-word;
    font-size: large;
    font-weight: bold;
}

.cv{
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

/*
    Typewriting animation, from:
    https://css-tricks.com/snippets/css/typewriter-effect/
*/

.typewriter h1 {
    color: #f21111;
    font-weight: 400;
    font-size: x-large;
    font-weight: bolder;
    max-width: fit-content;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #f21111; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .3em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f21111; }
  }