@import "tailwindcss";
@plugin "daisyui";

/* 
Seaction heading styling:
font-bold text-3xl underline text-yellow-300

Previous colourscheme
:root{
	--bodyColour: #094074; -> sky-900
	--tileColour: #3C6997; -> slate-500
	--sectionHeaderColour: #FFDD4A; -> yellow-300
	--textColour: #ffffff; -> lightmode/darkmode changes it to black/white
}

instead of this i pivoted to a more apple website colourscheme
bg             = blue-100 / slate-950
tile           =  sky-50  /  gray-800
section header = sky-600  / 
text colour    =   black  / white
normal button hover = always success green
*/
html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
}

#root {
	width: 100%;
	font-family: "Roboto Condensed", sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: start;
}

.tile {
    position: relative;
    width: 80vw;
    margin: auto;
    margin-top: 10vh;
    height: fit-content;
    padding: 20px 20px;
    border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}