@import "tailwindcss";
@plugin "daisyui";

/* 
Seaction heading styling:
font-bold text-3xl underline text-[#FFDD4A] 

*/
:root{
	--bodyColour: #094074;
	--tileColour: #3C6997;
	--sectionHeaderColour: #FFDD4A;
	--textColour: #ffffff;
}

html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bodyColour);
}

#root {
	width: 100%;
	font-family: "Roboto Condensed", sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: start;
}

.tile {
    position: relative;
    width: 80vw;
    margin: auto;
    margin-top: 10vh;
    height: fit-content;
    padding: 20px 20px;
    background-color: var(--tileColour);
    border-radius: 20px;
    color: var(--textColour);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}